@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 98%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 70%;
    --input: 240 5.9% 75%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 66%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5% 30%;
    --input: 240 5% 30%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

#root {
  height: 100vh;
  position: relative;
  z-index: 1;
}

.app-main.container {
  padding-left: 1rem;
  padding-right: 1rem;
}

body {
  background-color: rgb(223 221 220);
}

.dark body {
  background: #09090b;
}

body:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.1;
  background-size: 90%;
  background-position: center center;

  background-image: url('/mesh-3d-inv.jpg');
  /* background-image: url('ascii-1.png'); */
  /* background-image: url('ascii-2.png'); */
  /* background-image: url('ascii-3.png'); */
  /* background-size: 1900px; */
}

.dark body:before {
  background-image: url('/mesh-3d.jpg');
  /* background-image: url('ascii-1.png'); */
  /* background-image: url('ascii-2.png'); */
  /* background-image: url('ascii-3.png'); */
  /* background-image: url('topography.jpg'); */
}

.bg-card {
  backdrop-filter: blur(1px);
  background-color: transparent;
  background-color: rgba(255, 255, 255, 0.5);
}

.dark .bg-card {
  background-color: rgba(0, 0, 0, 0.5);
}

.link {
  text-decoration: underline;
}
